.recipeWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 120px;
    min-height:calc(100vh - 180px);

    .top{
        h1{
            font-size: 2em;
            @media only screen and (max-width: 540px) {
                font-size: 1.4em;
                font-weight: 700;
                max-width: 280px;
            }
        }
    }

    .ingredients{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @media only screen and (max-width: 540px) {
            flex-direction: column;
        }

        figure{
            flex-basis: 280px;
            align-self: center;

            img{
                width: 260px;
                height: 260px;
            }
        }

        .ingredientsDesc{
            margin-left: 20px;
            flex-basis: calc(100% - 300px);

            @media only screen and (max-width: 540px) {
                margin-left: 0px;
                width: 260px;
                flex-basis: 100%;
            }

            h2{
                font-size: 1.5em;
                margin-bottom: 4px;

                @media only screen and (max-width: 540px) {
                    font-size: 1.2em;
                    font-weight: 700;
                    max-width: 280px;
                }

                span{
                    font-size: 0.5em;
                    font-weight: 100;
                }
            }

            table{
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
                width: 100%;
                min-width: 240px;
                font-size: 0.9em;

                tr{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 4px;
                    border-bottom: 1px dotted black;
                }
            }
        }
    }

    .recipe{
        margin: 30px 0;
        width: 100%;
        max-width: 520px;
        text-align: left;

        @media only screen and (max-width: 540px) {
            max-width: 280px;
            margin: 20px 0;
        }

        li{
            list-style: none;
            display: flex;
            padding: 2px 0;

            @media only screen and (max-width: 540px) {
                margin-bottom: 10px;
            }

            .step{
                width: 80px;
            }
            .stepDesc{
                width: calc(100% - 80px);
            }
        }
    }

    .returnTop{
        margin: 20px auto;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #0006B1;
        color: #CCD2FC;
        border: #0006B1 solid 1px;
        font-size: 1em;
        font-weight: 800;
        cursor:pointer;

            @media only screen and (max-width: 540px) {
                margin: 0px auto;
                font-weight: 700;
                padding: 6px 20px;
            }

            &:hover{
                color:#0006B1;
                background-color: #CCD2FC;
                border-radius: 10px;
                border:#0006B1 solid 1px; 
            }
    }
}