.filteringWrapper{
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    background: rgb(35,35,35,0.6);

    .inner{
        position: absolute;
        top: calc(50% - 25vh + 160px);
        right: calc(50% - 25vw);
        margin: 0 auto;
        background: white;
        width: 50%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;

        form{
            display: flex;
            align-items: center;
            align-self: center;
            flex-wrap: wrap;
            padding: 20px 0;
            
            .radio{
                width: 120px;
                padding-bottom: 10px;
                input{
                    margin-right: 10px;
                    cursor: pointer;
                }
                label{
                    cursor: pointer;
                }
            }
        }

        
        .clearFiltering{
            width: 100%;
            margin-top: 20px;
            text-align: center;
            button{
                padding: 10px 20px;
                border-radius: 10px;
                background-color: #0006B1;
                color: #CCD2FC;
                border: #0006B1 solid 1px;
                font-size: 0.9em;
                font-weight: 800;
                cursor:pointer;
    
                &:hover{
                    color:#0006B1;
                    background-color: #CCD2FC;
                    border-radius: 10px;
                    border:#0006B1 solid 1px; 
                }

            }
        }

        .close{
            position: absolute;
            top: 6px;
            right: 20px;
            border: none;
            background: none;
            font-size: 2rem;
            font-weight: 900;
            cursor: pointer;
            &:hover{
                color: purple;
            }
        }
    }

    
}